
@{a.COMM);


#line default
#line hidden

#line 11 "C:\Users\Admin\source\repos\WebApplication5\WebApplication5\Views\BindingEx\Index.cshtml"
    __o = Html.TextBoxFor(a => a.DEPTNO);


#line default
#line hidden

#line 12 "C:\Users\Admin\source\repos\WebApplication5\WebApplication5\Views\BindingEx\Index.cshtml"
    __o = Html.ActionLink("back to emp", "Index", "EMP");


#line default
#line hidden

#line 13 "C:\Users\Admin\source\repos\WebApplication5\WebApplication5\Views\BindingEx\Index.cshtml"

}

<h2>Index</h2>

