@model WebApplication5.Models.tbl_login
    {
    ViewBag.Title = "LoginPage";
}

<h2>LoginPage</h2>

@using (Html.BeginForm("profile","Login"))
{
    <table>
        <tr>
            <td>login</td>
            <td>@Html.TextBoxFor(a => a.username)</td>
            <td>@Html.ValidationMessageFor(a => a.username, "", new { @class = "text-danger" })</td>
        </tr>
        <tr>
            <td>password</td>
            <td>@Html.TextBoxFor(a => a.password)</td>
            <td>@Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger" })</td>
        </tr>
       
        <tr>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}