<!DOCTYPE html>

<html>
<head>
    <link href="~/styles/Mystyle.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="Main">
<img src="~/images/Doraemon.jpg" class="img1" />
    </div>
    <div id="div2">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </div>
  
    <div  style="position:absolute;
    top:43%;
    width:100%;">
        @RenderBody()
    </div>
</body>
</html>
